{% extends "base_generic.html" %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<img src="{% static 'catalog/images/local_library_model_uml.png' %}" alt="UML diagram" style="width:555px;height:540px;">

{% block content %}
  <h1>Accounts</h1>
  <p>List of active accounts.</p>
  <ul>
  {% for a in accounts_list %}
    <li><a href="{{ a.pk }}">{{ a.pseudonym }}</a></li>
  {% endfor %}
  </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}
