{% extends "base_generic.html" %}
{% load static %}
{% load django_tables2 %}
{% load render_table from django_tables2 %}
{% load humanize %}
{% load extras %}

{% block content %}
  <h1>{{account.name}}</h1>
  <p>Data of account {{account.name}}</p>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-account-summary-tab" data-bs-toggle="tab" data-bs-target="#nav-account-summary" type="button" role="tab" aria-controls="nav-account-summary" aria-selected="true">Summary</button>
      <button class="nav-link" id="nav-account-assets-tab" data-bs-toggle="tab" data-bs-target="#nav-account-assets" type="button" role="tab" aria-controls="nav-account-assets" aria-selected="false">Assets</button>
      <button class="nav-link" id="nav-account-positions-tab" data-bs-toggle="tab" data-bs-target="#nav-account-positions" type="button" role="tab" aria-controls="nav-account-positions" aria-selected="false">Positions</button>
      <button class="nav-link" id="nav-account-orders-tab" data-bs-toggle="tab" data-bs-target="#nav-account-orders" type="button" role="tab" aria-controls="nav-account-orders" aria-selected="false">Orders</button>
      <button class="nav-link disabled" id="nav-account-trades-tab" data-bs-toggle="tab" data-bs-target="#nav-account-trades" type="button" role="tab" aria-controls="nav-account-trades" aria-selected="false">Trades</button>
      <button class="nav-link disabled" id="nav-account-performance-tab" data-bs-toggle="tab" data-bs-target="#nav-account-performance" type="button" role="tab" aria-controls="nav-account-performance" aria-selected="false">Performance</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-account-summary" role="tabpanel" aria-labelledby="nav-account-summary-tab">

      {% if user.is_authenticated %}
        {% if user == owner or user.is_superuser %}

          <h4>Assets</h4>
          <p>Assets value in spot and future wallet is {{assets_value}} BUSD</p>

          {% if user.is_superuser %}
          {% autoescape off %}

          {% endautoescape %}
          {% endif %}


          <h4>Orders</h4>
          {% if not orders_open %}
            <div class="alert alert-success" role="alert">
              Account has no open order.
            </div>
            {% else %}
            <div class="alert alert-info" role="alert">
              An order is currently open.
            </div>
          {% endif %}

        {% else %}
          <p>You are not authorized to view this account</p>
        {% endif %}

      {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
      {% endif %}



    </div>
    <div class="tab-pane fade" id="nav-account-assets" role="tabpanel" aria-labelledby="nav-account-assets-tab">

      {% if user.is_authenticated %}
        {% if user == owner or user.is_superuser %}

        <h4>Assets</h4>
        {% render_table table_asset %}

        {% else %}
          <p>You are not authorized to view this account</p>
        {% endif %}

      {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
      {% endif %}

    </div>
    <div class="tab-pane fade" id="nav-account-positions" role="tabpanel" aria-labelledby="nav-account-positions-tab">

      {% if user.is_authenticated %}
        {% if user == owner or user.is_superuser %}

        <h4>Positions</h4>
        {% render_table table_position %}
        {% else %}
          <p>You are not authorized to view this account</p>
        {% endif %}

      {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
      {% endif %}

    </div>
    <div class="tab-pane fade" id="nav-account-orders" role="tabpanel" aria-labelledby="nav-account-orders-tab">

      {% if user.is_authenticated %}
        {% if user == owner or user.is_superuser %}

        <h4>Orders</h4>
        {% render_table table_order %}
        {% else %}
          <p>You are not authorized to view this account</p>
        {% endif %}

      {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
      {% endif %}

    </div>
    <div class="tab-pane fade" id="nav-account-trades" role="tabpanel" aria-labelledby="nav-account-trades-tab">

    </div>
    <div class="tab-pane fade" id="nav-account-performance" role="tabpanel" aria-labelledby="nav-account-performance-tab">

        <h4>Performance</h4>

        {% autoescape off %}
        {{ plot_div_1 }}
        {% endautoescape %}

    </div>
  </div>


{% endblock %}