{% extends "base_generic.html" %}
{% load static %}
{% load django_tables2 %}
{% load render_table from django_tables2 %}
{% load humanize %}
{% load extras %}

{% block content %}
  <h1>{{account.name}}</h1>
  <p>Data of account {{account.name}}</p>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-account-summary-tab" data-bs-toggle="tab" data-bs-target="#nav-account-summary" type="button" role="tab" aria-controls="nav-account-summary" aria-selected="true">Summary</button>
      <button class="nav-link" id="nav-account-assets-tab" data-bs-toggle="tab" data-bs-target="#nav-account-assets" type="button" role="tab" aria-controls="nav-account-assets" aria-selected="false">Assets</button>
      <button class="nav-link" id="nav-account-positions-tab" data-bs-toggle="tab" data-bs-target="#nav-account-positions" type="button" role="tab" aria-controls="nav-account-positions" aria-selected="false">Positions</button>
      <button class="nav-link" id="nav-account-orders-tab" data-bs-toggle="tab" data-bs-target="#nav-account-orders" type="button" role="tab" aria-controls="nav-account-orders" aria-selected="false">Orders</button>
      <button class="nav-link" id="nav-account-trades-tab" data-bs-toggle="tab" data-bs-target="#nav-account-trades" type="button" role="tab" aria-controls="nav-account-trades" aria-selected="false">Trades</button>
      <button class="nav-link" id="nav-account-performance-tab" data-bs-toggle="tab" data-bs-target="#nav-account-performance" type="button" role="tab" aria-controls="nav-account-performance" aria-selected="false">Performance</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-account-summary" role="tabpanel" aria-labelledby="nav-account-summary-tab">

      <h4>Assets</h4>
      <p>Assets value in spot and future wallet is {{assets_value}} BUSD</p>

      <h4>Positions</h4>
      {% if has_position %}
      <p>Positions unrealized PnL is {{positions_pnl}} BUSD</p>
      {% else %}
      <p class="text-info">Account has no opened position</p>
      {% endif %}
      {{account_value}}

      <h4>Orders</h4>
      {% if not orders_open %}
        <div class="alert alert-success" role="alert">
          Account has no open order.
        </div>
        {% else %}
        <div class="alert alert-info" role="alert">
          Account has open order(s).
        </div>
      {% endif %}
      {% if not orders_canceled %}
        <div class="alert alert-warning" role="alert">
          An order was canceled in the last 24 hours.
        </div>
      {% endif %}
      {% if not orders_error %}
        <div class="alert alert-danger" role="alert">
          An order was rejected in the last 24 hours.
        </div>
      {% endif %}

      <h4>Trades</h4>

      <h4>Performance</h4>

    </div>
    <div class="tab-pane fade" id="nav-account-assets" role="tabpanel" aria-labelledby="nav-account-assets-tab">
      <h2>Assets</h2>
    </div>
    <div class="tab-pane fade" id="nav-account-positions" role="tabpanel" aria-labelledby="nav-account-positions-tab">
      <h2>Positions</h2>
    </div>
    <div class="tab-pane fade" id="nav-account-orders" role="tabpanel" aria-labelledby="nav-account-orders-tab">
      <h2>Orders</h2>
      {% render_table table %}
    </div>
    <div class="tab-pane fade" id="nav-account-trades" role="tabpanel" aria-labelledby="nav-account-trades-tab">
      <h2>Trades</h2>
    </div>
    <div class="tab-pane fade" id="nav-account-performance" role="tabpanel" aria-labelledby="nav-account-performance-tab">
      <h2>Performance</h2>
    </div>
  </div>


{% endblock %}