{% extends "base_generic.html" %}
{% load static %}
{% load django_tables2 %}
{% load render_table from django_tables2 %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<img src="{% static 'catalog/images/local_library_model_uml.png' %}" alt="UML diagram" style="width:555px;height:540px;">

{% block content %}
  <h1>{{account.name}}</h1>
  <p>Data for account {{account.name}}</p>

  <h4>Open orders</h4>
  <p>List of assets in future wallet:</p>
  {% if not orders %}
  <p class="text-success">Account has no open order</p>
  {% else %}
  <table class="tg">
    <thead>
         <th style="width: 150px" class="tg-0lax"> Order ID </th>
         <th style="width: 100px" class="tg-0lax"> Market </th>
    </thead>

  {% for order in orders %}

    <tr>
          <td style="width: 150px" class="tg-0lax">{{ order.clientid }}</td>
          <td style="width: 100px" class="tg-0lax">{{ order.market.symbol }}</td>
     </tr>

  {%  endfor %}

   </table>
  {% endif %}
{% endblock %}