static/*
**/notebooks/*
strategy
**/log/*
*.pid
.project
.pydevproject
__pycache__
.idea/

# Postgres dump
backup.db

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Django Environ
.env