{% extends "base_generic.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<img src="{% static 'catalog/images/local_library_model_uml.png' %}" alt="UML diagram" style="width:555px;height:540px;">

{% block content %}
  <h1>Trading</h1>
  <p>Data from the trading app</p>
  <h2>Active accounts</h2>
  <p>List of active accounts:</p>
  <ul>
  {% for s in active_accounts %}
    <li><a href="{{ s.get_absolute_url }}">{{ s.pseudonym }}</a></li>
  {% endfor %}
  </ul>
  <h2>Inactive accounts</h2>
  <p>List of inactive accounts:</p>
  <ul>
  {% for s in paused_accounts %}
    <li><a href="{{ s.get_absolute_url }}">{{ s.pseudonym }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}