<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}<title>Boter</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"> </script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript">

    {% load bootstrap_icons %}

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            console.log("tab shown...");
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });

        // read hash from page load and change tab
        var activeTab = localStorage.getItem('activeTab');
        if(activeTab){
            $('.nav-tabs a[href="' + activeTab + '"]').tab('show');
        }

    </script>

</head>
<body>
<div class="container-fluid">
    <div class="row">
         <div class="col-sm-2 ">
              <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="/static/image/icons8-robot-2-80.png" width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                          <div class="media-body">
                            <h4 class="m-0">Trading bot</h4>
                            <p class="font-weight-light text-muted mb-0">Crypto</p>
                          </div>
                    </div>
              </div>

          <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Navigation</p>

          <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
              <a href="#" class="nav-link text-dark font-italic bg-light">
                        <i class="fa bs_icon mr-3 text-primary fa-fw"></i>
                        Home
                    </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-dark font-italic">
                        <i class="fa bs_icon mr-3 text-primary fa-fw"></i>
                        About
                    </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-dark font-italic">
                        <i class="fa bs_icon mr-3 text-primary fa-fw"></i>
                        Services
                    </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-dark font-italic">
                        <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                        Gallery
                    </a>
            </li>
          </ul>

          <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Charts</p>

          <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
              <a href="#" class="nav-link text-dark font-italic">
                        <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                        Area charts
                    </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-dark font-italic">
                        <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                        Bar charts
                    </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-dark font-italic">
                        <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
                        Pie charts
                    </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-dark font-italic">
                        <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>
                        Line charts
                    </a>
            </li>
          </ul>

        </div>
        <div class="col-sm-10 ">


            {% block head-content %}{% endblock head-content %}
            {% block nav %}{% include 'navbar_new.html' %}{% endblock nav %}
            {% block content1 %}{% endblock content1 %}

             {% block content %}
             {% endblock %}
         </div>
    </div>
</div>

</body>
</html>