{% extends "base_generic_new.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<img src="{% static 'catalog/images/local_library_model_uml.png' %}" alt="UML diagram" style="width:555px;height:540px;">

{% block content %}
  <h1>Homepage</h1>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a>
    {% endif %}

{% endblock %}