{% extends "base_generic.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<img src="{% static 'catalog/images/local_library_model_uml.png' %}" alt="UML diagram" style="width:555px;height:540px;">

{% block content %}
  <h1>Homepage</h1>
  <p>Welcome to <em>Boter</em>!</p>
  <h2>Markets</h2>
  <p>Objects in database:</p>
  <ul>
    <li>Exchanges: {{ num_exchanges }}</li>
    <li>Currencies: {{ num_currencies }}</li>
    <li>Spot markets: {{ num_spot_markets }}</li>
    <li>Derivative markets: {{ num_derivative_markets }}</li>
  </ul>
  <h2>Strategies</h2>
  <p>Objects in database:</p>
  <ul>
    <li>Active strategies: {{ num_active_strategies }}</li>
    <li>Paused strategies: {{ num_paused_strategies }}</li>
  </ul>
  <h2>Accounts</h2>
  <p>Objects in database:</p>
  <ul>
    <li>Account: {{ num_accounts }}</li>
    <li>Open orders: {{ num_open_orders }}</li>
    <li>Closed orders: {{ num_closed_orders }}</li>
    <li>Canceled orders: {{ num_canceled_orders }}</li>
  </ul>
{% endblock %}


  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

  {% endblock %}