<!DOCTYPE html>
<html lang="en">
<div class="navbar navbar-inverse navbar-fixed-top">

    <div class="navbar-inner">
                <ul class="nav">
                    <li class="navbar-text">

                    {% block content %}
                    {% if user.is_authenticated %}
                      Hi {{ user.username }}!
                    {% else %}
                      <p>You are not logged in</p>
                      <a href="{% url 'login' %}">Log In</a>
                    {% endif %}
                    {% endblock %}
                    </li>
                </ul>
    </div>
</div>