<!DOCTYPE html>
<html lang="en">

<ul class="nav navbar-light justify-content-end py-4" style="background-color: #e3f2fd;">

  <a class="navbar-brand" href="#">
    <img src="/static/image/icons8-robot-2-80.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Trading bot
  </a>

  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
  </li>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <span class="navbar-text">
    {% block content %}
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    {% endblock %}
    </span>
</ul>


