<!DOCTYPE html>
<html lang="en">

<nav class="navbar is-light" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="/static/image/icons8-robot-2-80.png" height="40">
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <form>
                    <div class="field has-addons">
                        <div class="control">
                            
                        </div>
                        <div class="control">

                            {% block content %}
                                {% if user.is_authenticated %}
                                    <a href="{% url 'logout' %}">Log Out</a>
                                    {% else %}
                                    <a href="{% url 'login' %}">Log In</a>
                                {% endif %}
                            {% endblock %}

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>




