<!DOCTYPE html>
<html lang="en">

<ul class="nav navbar-light justify-content-end py-4" style="background-color: #e3f2fd;">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    {% block content %}
        {% if user.is_authenticated %}
            <span class="navbar-text">
                <div>  Hi {{ user.username }}! </div>
                <a href="{% url 'logout' %}">Log Out</a>
            </span>
        {% else %}
            <span class="navbar-text">
                <a href="{% url 'login' %}">Log In</a>
            </span>
        {% endif %}
    {% endblock %}
  </li>
</ul>


