<!DOCTYPE html>
<html lang="en">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
                <ul class="nav">
                    <li class="navbar-text">
                        {{ object }}
                    </li>
                    <li></li>
                    <li class="navbar-text">
                        {{ object2 }}
                    </li>
                    <li></li>
                    <li class="navbar-text">
                        {{ object3 }}
                    </li>
                    <li></li>
                    <li class="navbar-text">
                        {{ object4 }}
                    </li>
                </ul>
    </div>
</div>