{% extends "base_generic.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<img src="{% static 'catalog/images/local_library_model_uml.png' %}" alt="UML diagram" style="width:555px;height:540px;">

{% block content %}
  <h1>Strategies</h1>
  <p>Data from trading strategies</p>
  <h2>Active</h2>
  <p>List of active strategies:</p>
  <ul>
  {% for s in active_strategies %}
    <li>{{ s }}</li>
  {% endfor %}
  </ul>

  <h2>Paused</h2>
  <p>List of paused strategies:</p>
  <ul>
  {% for s in paused_strategies %}
    <li>{{ s }}</li>
  {% endfor %}
  </ul>
{% endblock %}